.text-bg {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--white);
  -webkit-text-stroke-width: 0.2px;
}

.text-bg2 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--blue);
  -webkit-text-stroke-width: 0.3px;
}

.text-bg3 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-color: var(--white);
  -webkit-text-stroke-width: 0.4px;
}

.animat-spin {
  animation-name: spin;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.clip-path-triangle {
  width: 30px;
  height: 20px;
  background-color: #a7a6a632; /* Uchburchakning rangi */
  clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
  rotate: 180deg;
  position: absolute;
  bottom: -20px;
}
